<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.alpha.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.domain.alpha.SysUser" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <collection property="roles" ofType="com.example.demo.domain.alpha.SysRole">
      <result column="id" property="id"/>
      <result column="name" property="name"/>

    </collection>
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, username, password
  </sql>


  <select id="findByUserName" parameterType="string" resultMap="BaseResultMap">
    select u.*
		,r.name
		from Sys_User u
        LEFT JOIN sys_role_user sru on u.id= sru.Sys_User_id
        LEFT JOIN Sys_Role r on sru.Sys_Role_id=r.id
        where username= #{userName}
  </select>
</mapper>